@* Id = i, *@
@*                     Name = "User " + i, *@
@*                     Email = "user" + i + "@example.com", *@
@*                     Phone = "123456789" + i, *@
@*                     Address = "Address " + i, *@
@*                     City = "City " + i, *@
@*                     State = "State " + i, *@
@*                     ZipCode = "ZipCode " + i, *@
@*                     CreatedAt = DateTime.Now.AddDays(-i), *@
@*                     UpdatedAt = DateTime.Now.AddDays(-i) *@

<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
        </tr>
    </thead>
</table>
@section Scripts {
       
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.bootstrap4.js"></script>

    <script src="~/js/testdatatable.js"> </script>
  
}