@* Id = i, *@
@*                     Name = "User " + i, *@
@*                     Email = "user" + i + "@example.com", *@
@*                     Phone = "123456789" + i, *@
@*                     Address = "Address " + i, *@
@*                     City = "City " + i, *@
@*                     State = "State " + i, *@
@*                     ZipCode = "ZipCode " + i, *@
@*                     CreatedAt = DateTime.Now.AddDays(-i), *@
@*                     UpdatedAt = DateTime.Now.AddDays(-i) *@

<table id="example" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>ZipCode</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script src="~/js/testdatatable.js"> </script>
  
}